In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Constraint_English_Train.csv')
df.head()

   id                                              tweet label
0   1  The CDC currently reports 99031 deaths. In gen...  real
1   2  States reported 1121 deaths a small rise from ...  real
2   3  Politically Correct Woman (Almost) Uses Pandem...  fake
3   4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4   5  Populous states can generate large case counts...  real

In [3]:
df['totalwords'] = df['tweet'].str.split().str.len()

In [4]:
df.head()

   id                                              tweet label  totalwords
0   1  The CDC currently reports 99031 deaths. In gen...  real          29
1   2  States reported 1121 deaths a small rise from ...  real          18
2   3  Politically Correct Woman (Almost) Uses Pandem...  fake          16
3   4  #IndiaFightsCorona: We have 1524 #COVID testin...  real          27
4   5  Populous states can generate large case counts...  real          42

In [5]:
df['totalwords'].head()

0    29
1    18
2    16
3    27
4    42
Name: totalwords, dtype: int64